{% extends "core/base.html" %} {% block content %}
<script>
  document.title = "Submission #{{submission.id}} by {{submission.owner}} of {{submission.task}} — KVISOI";
</script>
<h1 class="display-6">Submission #{{submission.id}}</h1>
<h5>
  by
  <a href="{% url 'core-task' submission.task.id %}">{{submission.owner}}</a> of
  <a href="{% url 'core-task' submission.task.id %}"> {{submission.task}}</a>
</h5>

<h5>Judge status : {{submission.status}}</h5>
<h5>Submission result : {{submission.result}}</h5>
<h5>Verdict : {{submission.response}}</h5>

{% if user == submission.owner or user.is_superuser %}

<div class="mt-3 code-div">
  <h4>Code :</h4>
  <form><textarea id="editor">{{submission.code}}</textarea></form>

  <script>
    var codeBox = document.getElementById("editor");
    var editor = CodeMirror.fromTextArea(codeBox, {
      lineNumbers: true,
      readOnly: "true",
      mode: "{{lang2codemirror|get_item:submission.lang}}",
      theme: "monokai",
    });
    var $wrapper = $(editor.getWrapperElement());
    $wrapper.addClass("CodeMirror-readonly");
  </script>
</div>

{% endif %} {% endblock %}
