{% extends "core/base.html" %} 
{% block content %}
  <h1> Submission # {{submission.id}} </h1>
  <h3> by {{submission.owner}} </h3>
  <h3> of task <a href="{% url 'core-task' submission.task.id %}"> {{submission.task}}</a> </h3>
  <h2> judge status : {{submission.status}} </h2>
  <h2> submission result : {{submission.result}} </h2>

  {% if user == submission.owner or user.is_superuser %}
    <h4> CODE : </h4>
    <div class="mt-5 code-div">

      <textarea id="editor">{{submission.code}}</textarea>

      <script>
        const codeBox = document.getElementById('editor')
        const editor = CodeMirror.fromTextArea(codeBox,{
          lineNumbers: true,
          readOnly: 'nocursor',
          mode: "{{lang2codemirror|get_item:submission.lang}}",
          theme: "monokai"
        });
      </script>

    </div>
  {% endif %}
{% endblock %}